:local(.tag) {
  font-size: 0.7em;
  font-weight: bold;
  border-radius: 4px;
  padding: 2px 6px;
  margin: 2px;
  color: #000000;
}

:local(.bank) {
  background-color: rgb(209, 191, 25);
}

:local(.freeparking) {
  background-color: rgb(123, 209, 25);
}